.container {
  height: 100vh;
  display: flex;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  /* padding: 0.75rem; */
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.canvasContainer {
  width: 80%;
}

.canvas {
  /* margin-top: 10px; */
  /* border: 1px solid black; */
  /* background-image: url("../public/images/backgroundimage.jpg"); */
  height: 100vh;
  width: 100%;
  background-size: 100%;
  /* image-orientation: revert-layer; */
  z-index: 9999;
}

.options {
  position: fixed;
  left: 20px;
  top: 12rem;
  background-color: blanchedalmond;
  width: 32px;
  height: 220px;
  border-radius: 8px;
  z-index: 9;
  padding: 5px;
}

.optionIcon {
  height: 20px;
  width: 20px;
  padding: 2px;
}

.active {
  border: 1px royalblue solid;
  border-radius: 3px;
}

.mode {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  /* margin-left: 30px; */
}

.chatBox {
  width: 20%;
  background-color: aliceblue;
}

.textInput {
  padding: 5px;
  height: 30px;
  background-color: blanchedalmond;
  border-radius: 8px;
  display: flex;
  position: fixed;
  left: 54px;
  top: 265px;
  align-items: center;
}

.input {
  height: 20px;
  border-radius: 8px;
}

.button {
  height: 20px;
  background-color: burlywood;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
}

.leftarrow {
  height: 12px;
  margin-right: 5px;
}
